extends layout

body
  block content
    div.row
      div.jumbotron(style='text-align: center') 
        h1 #{title}
    div.row
      div.col-md-12(style='text-align: center')
        h2 #{message}
  block footer
